@attribute [Route($"{Routes.Systems}/{{systemSymbol}}{Routes.Waypoints}/{{waypointSymbol}}")]
@inherits FluxorComponent

<MudContainer MaxWidth="MaxWidth.Small">
    @if (WaypointState.Value.Waypoint is not null)
    {
        var waypoint = WaypointState.Value.Waypoint.Value;

        <MudPaper Class="my-4 pa-4 rounded-lg"
                  Elevation="0">
            <MudText Typo="Typo.h5">@WaypointSymbol</MudText>

            <MudText>@waypoint.Type</MudText>

            @foreach (var trait in waypoint.Traits)
            {
                <MudChip T="string">@trait.Name</MudChip>
            }
        </MudPaper>

        <AppSurface Padding="0">
            <MudTabs Centered>
                <MudTabPanel Disabled="@(waypoint.Traits.All(trait => trait.Symbol != WaypointTraitSymbol.Marketplace.ToString().ToMacroCase()))"
                             Icon="@HonmaIcons.Market"
                             Text="Market">
                    <div class="pa-4">
                        @if (MarketState.Value.Market is not null)
                        {
                            <MarketDisplay Market="MarketState.Value.Market.Value"/>
                        }
                    </div>
                </MudTabPanel>

                <MudTabPanel Disabled="@(waypoint.Traits.All(trait => trait.Symbol != WaypointTraitSymbol.Shipyard.ToString().ToMacroCase()))"
                             Icon="@HonmaIcons.Shipyard"
                             Text="Shipyard">
                    @if (ShipyardState.Value.Shipyard is not null)
                    {
                        <ShipyardDisplay Shipyard="ShipyardState.Value.Shipyard.Value"/>
                    }
                </MudTabPanel>
            </MudTabs>
        </AppSurface>
    }
</MudContainer>

@code {

    [Parameter] public required string SystemSymbol { get; set; }

    [Parameter] public required string WaypointSymbol { get; set; }

    [Inject] public required IState<WaypointState> WaypointState { get; set; }

    [Inject] public required IState<ShipyardState> ShipyardState { get; set; }

    [Inject] public required IState<MarketState> MarketState { get; set; }

    [Inject] public required IDispatcher Dispatcher { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new WaypointLoad(SystemSymbol, WaypointSymbol));
    }

}