<MudStack class="height-full">
    <AppSurface>
        <MudStack AlignItems="AlignItems.Center"
                  Justify="Justify.SpaceBetween"
                  Row>
            <MudText Class="ml-2 my-2"
                     Typo="Typo.h4">
                <b>@Ship.Registration.Name</b>
            </MudText>

            <MudStack Row
                      Spacing="1">
                <MudChip Color="Color.Secondary"
                         T="string"
                         Variant="Variant.Text">
                    @Ship.Registration.Role
                </MudChip>
                <MudChip Color="Color.Primary"
                         T="string"
                         Variant="Variant.Text">
                    @Ship.Registration.FactionSymbol
                </MudChip>
            </MudStack>
        </MudStack>

        <AppSurface Class="mt-4"
                    Light>
            <MudStack Justify="Justify.SpaceBetween"
                      Row>
                <MudStack Row
                          Spacing="8">
                    <MudStack Spacing="0">
                        <MudText Typo="Typo.subtitle2">Status</MudText>
                        <MudText Typo="Typo.h6">@Ship.Nav.Status</MudText>
                    </MudStack>

                    <MudStack Spacing="0">
                        <MudText Typo="Typo.subtitle2">System</MudText>
                        <MudLink Href="@($"{Routes.Systems}/{Ship.Nav.SystemSymbol}")"
                                 Typo="Typo.h6">
                            @Ship.Nav.SystemSymbol
                        </MudLink>
                    </MudStack>

                    <MudStack Spacing="0">
                        <MudText Typo="Typo.subtitle2">Waypoint</MudText>
                        <MudLink Href="@($"{Routes.Systems}/{Ship.Nav.SystemSymbol}{Routes.Waypoints}/{Ship.Nav.WaypointSymbol}")"
                                 Typo="Typo.h6">
                            @Ship.Nav.WaypointSymbol
                        </MudLink>
                        <MudText Typo="Typo.body2">@Ship.Nav.Route.Origin.Type</MudText>
                    </MudStack>
                </MudStack>

                <MudStack Row>
                    <MudStack>
                        <MudButton Size="Size.Small"
                                   StartIcon="@HonmaIcons.Orbit"
                                   Variant="Variant.Outlined">
                            Move to orbit
                        </MudButton>
                        <MudButton Disabled="@(Ship.Nav.Status != "IN_ORBIT")"
                                   Size="Size.Small"
                                   StartIcon="@HonmaIcons.Route"
                                   Variant="Variant.Outlined">
                            Navigate
                        </MudButton>
                    </MudStack>

                    <MudStack>
                        <MudButton Disabled Class=""
                                   Size="Size.Small"
                                   StartIcon="@HonmaIcons.Jump"
                                   Variant="Variant.Outlined">
                            Jump
                        </MudButton>
                        <MudButton Disabled
                                   Size="Size.Small"
                                   StartIcon="@HonmaIcons.Warp"
                                   Variant="Variant.Outlined">
                            Warp
                        </MudButton>
                    </MudStack>
                </MudStack>
            </MudStack>
        </AppSurface>

        <MudGrid Class="my-2"
                 Spacing="4">
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Crew"
                                       Max="@Ship.Crew.Capacity"
                                       Title="Crew"
                                       Value="@Ship.Crew.Current"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.MoraleHigh"
                                       Max="100"
                                       Title="Morale"
                                       Value="@Ship.Crew.Morale"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Fuel"
                                       Max="@Ship.Fuel.Capacity"
                                       Title="Fuel"
                                       Value="@Ship.Fuel.Current"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Cargo"
                                       Max="@Ship.Cargo.Capacity"
                                       Title="Cargo"
                                       Value="@Ship.Cargo.Units"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Module"
                                       Max="@Ship.Frame.ModuleSlots"
                                       Title="Modules"
                                       Value="@Ship.Modules.Count"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Mount"
                                       Max="@Ship.Frame.MountingPoints"
                                       Title="Mounts"
                                       Value="@Ship.Mounts.Count"/>
            </MudItem>
            <MudItem xs="3">
                <StatisticRangeDisplay Icon="@HonmaIcons.Power"
                                       Max="@Ship.Reactor.PowerOutput"
                                       Title="Power"
                                       Value="@PowerConsumption()"/>
            </MudItem>
        </MudGrid>
    </AppSurface>

    <AppSurface Padding="0">
        <MudTabs Centered
                 Class="rounded-lg">
            <MudTabPanel Icon="@HonmaIcons.Loadout"
                         Text="Loadout">
                <div class="pa-4">
                    <ShipLoadout Ship="Ship"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Disabled="@(Ship.Modules.Count == 0)"
                         Icon="@HonmaIcons.Module"
                         Text="Modules">
                <div class="pa-4">
                    <ShipModules Modules="Ship.Modules"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Disabled="@(Ship.Mounts.Count == 0)"
                         Icon="@HonmaIcons.Mount"
                         Text="Mounts">
                <div class="pa-4">
                    <ShipMounts Mounts="Ship.Mounts"/>
                </div>
            </MudTabPanel>
            <MudTabPanel Disabled="@(Ship.Cargo.Units == 0)"
                         Icon="@HonmaIcons.Cargo"
                         Text="Cargo">
                <MudTable Class="rounded-lg"
                          Elevation="0"
                          Items="Ship.Cargo.Inventory">
                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Description</MudTh>
                        <MudTh>Units</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.Name</MudTd>
                        <MudTd>@context.Description</MudTd>
                        <MudTd>@context.Units</MudTd>
                    </RowTemplate>
                    <NoRecordsContent>
                        <MudText>Ship has no cargo</MudText>
                    </NoRecordsContent>
                </MudTable>
            </MudTabPanel>
        </MudTabs>
    </AppSurface>
</MudStack>

@code {

    [Parameter] public required Ship Ship { get; set; }

    private int PowerConsumption()
    {
        return (Ship.Frame.Requirements.Power ?? 0) +
               (Ship.Engine.Requirements.Power ?? 0) +
               Ship.Modules.Aggregate(0, (total, module) => total + (module.Requirements.Power ?? 0)) +
               Ship.Mounts.Aggregate(0, (total, mount) => total + (mount.Requirements.Power ?? 0));
    }

}